#all-tasks-div{
    text-align: center;
    padding: 20px;
   margin-left: 10px;
    border-style: solid;
    border-width: .8px;
    border-color: black;
    max-height: 550px;
    overflow-y: auto;
}
.complete{
    text-decoration: line-through;
}
#add-task-card{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(173, 223, 209, 0.5)
}
#all-tasks-card{    
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
}
#task-card{
    background-color: rgb(50, 56, 62,.9);
    margin-top: 5px;
}
.task{
    min-height: 300px;
    min-width: 400px;
    margin-left: 25px;
}
.notes{
    min-height: 300px;
    min-width: 550px;
    margin-left: 25px;
}