#header-div{
    text-align: center;
}
#main-content{
    align-items: center;
    text-align: center;
    
}
#add-task-div{
    text-align: center;
    padding: 20px;
    margin-left: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 500px;
}
#all-tasks-div{
    text-align: center;
    padding: 20px;
    margin-left: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 550px;
    width: 500px;
}